@import 'tailwindcss';

 @font-face {
   font-family: "thedoctor";
    src: url("/static/fonts/TheDoctor.woff2") format('woff2');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
 }

@font-face {
  font-family: "DTGetai";
  src: url("/static/fonts/DTGetai.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ExatCYR";
  src: url("/static/fonts/ExatCYR.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@theme {
  --font-getai: 'DTGetai';
  --font-doctor: 'thedoctor';
  --font-exat: 'ExatCYR';
}

html {
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}